{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/login" method="post" class="form-register">
{{ form.hidden_tag() }}
<p>{{ form.name.label() }} {{ form.name() }}
<p>{{ form.password.label() }} {{ form.password() }}
<p>{{ form.submit() }}

<!--<p><label>Имя: </label></p> <input type="text" name="username" value="" required>-->
<!--<p><label>Пароль: </label></p> <input type="text" name="password" value="" required>-->
<!--<p><input type="submit" value="Войти">-->
</form>
{% endblock %}

